<?php
/*
 * Copyright (c) 2012-2016 Veridu Ltd <https://veridu.com>
 * All rights reserved.
 */

declare(strict_types = 1);

return [
    'db' => [
        'driver'    => 'pgsql',
        'host'      => 'localhost',
        'port'      => 5432,
        'database'  => 'veridu-idos-api',
        'username'  => 'veridu',
        'password'  => 'veridu',
        'charset'   => 'utf8',
        'collation' => 'utf8_unicode_ci',
        'prefix'    => '',
        'options'   => [
            \PDO::ATTR_TIMEOUT    => 5,
            \PDO::ATTR_PERSISTENT => true
        ]
    ],

     'salt' => [
         'user' => ''
     ]
];
